
h1:hover{
    color:rgb(189, 56, 82);
}
.col p{
    width: 32px;
    text-align: justify;
    float: left;
    margin-left: 10px;
    background-color: cadetblue;
}
body{
    
        background-image: url(../Frontend/night.jpg);

    }

    p.solid{
        border:2px solid #bb1a1a;
        outline: 3px solid rgb(248, 0, 0);
        margin-top: 100px;
    }
    p{
        border: 2px solid #ffffff;
        color: #be7676;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        text-decoration: line-through;
    }